* {
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
  background-color: black;
  cursor: default;
}

table.header {
  width: 100%;
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
}

td.logo-repeat {
  width: 100%;
  background-image: url(img/logo-repeat.png);
  background-position: top right;
  background-repeat: repeat-x;
  font-size: 0pt;
}

td.logo, img.logo {
  height: 125px;
  font-size: 0pt;
}

td.header-splitter {
  width: 100%;
  height: 25px;
  background-image: url(img/header-splitter-top.png);
  background-position: top right;
  background-repeat: repeat-x;
  font-size: 0pt;
}
