<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <system.web>
    <globalization
      culture='en-US'
      uiCulture='en-US'
      fileEncoding='utf-8'
      requestEncoding='utf-8'
      responseEncoding='utf-8'/>
    <trace enabled='false'/>
    <compilation debug='false'
      defaultLanguage='c#'/>
    <pages
      buffer='true'
      enableSessionState='false'
      enableViewState='false'
      enableViewStateMac='false'
      autoEventWireup='false'
      validateRequest='false'/>
    <customErrors mode='RemoteOnly'/>
    <authentication mode='None'/>
    <sessionState mode='Off'/>
    <httpHandlers>
      <add verb="*" path="*/CVS/*" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*/CVS" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <!-- Core Settings -->
    <add key='Controller.SectionKey' value='section'/>
    <add key='Controller.DefaultSection' value='HomePage'/>
    <add key='Controller.EmPageDir' value='WebUI_EmPages/'/>
    <add key='Controller.EmPageExt' value='.ascx'/>
    <add key='Controller.StylesheetDir' value='WebUI_EmPages/'/>
    <add key='Controller.StylesheetExt' value='.css.aspx'/>
    <add key='Controller.JavascriptDir' value='WebUI_EmPages/'/>
    <add key='Controller.JavascriptExt' value='.js.aspx'/>
    <add key='Controller.ImageDir' value='WebUI_Images/'/>
    <add key='Controller.ImageExt' value='.png'/>
    <!-- Login Settings -->
    <add key='Controller.AdminName' value='admin'/>
    <add key='Controller.AdminPassword' value='me'/>
    <!-- Database Settings -->
  </appSettings>
</configuration>
